* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif;
}

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    max-width: 18.75rem;
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

.nav-links ul li a {
    color: black;
    text-decoration: none;
    
}

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after {
    width: 100%;
}

.text-box {
    width: 90%;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1 {
    font-size: 50px;

}
.text-box p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: black;
}

.book-lesson {
    display: inline-block;
    color: black;
    border: 1px solid black;
    padding: 12px 34px;
    font-size: 15px;
    background: aqua;
    position: relative;
    cursor: pointer;
    
}

.book-lesson:hover {
    border: 1px solid #f44336;
    background: #f44336;
    transition: 1s;

}

/*nav .fa {
    display: none;
}*/

@media(max-width: 700px) {
    .text-box h1 {
        font-size: 20px;
    }
        
    /*.nav-links ul li {
        display: block;
    }
    .nav-links {
        position: absolute;
        background: #f44336;
        height: 100vh;
        width: 	200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
        
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul {
        padding: 30px;
    }
}*/

/* Lessons Available */

/* Testimonials */

.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

.container span {
    font-size: 20px;
    margin-right: 15px;
}

@media (max-width: 500px) {
    .container {
        text-align: center;
    }

    .container img {
        margin: auto;
        float: none;
        display: block;
    }
}

/* Gift Vouchers */

/* Contact */

/*.contact-form {
    clear: left;
    background: url(/images/Statue.webp);
    background-size: cover;
    background-position: center;
    max-height: 900px;
}*/

.contact-info {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: rgba(60, 60, 60, 0.6);
    max-width: 550px;
    position: absolute;
    left: 10%;
    padding: 30px;
}

.contact-info>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: yellow;
}

.get-quote {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #f16c6b;
    color: #fafafa;
    display: block;
}
}