/*Generic Styling*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;

}

body {
    height: 100vh;
    width: 100%;
}

/*---- Header -----*/

/* Nav Links alignment */

nav {
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;


}

/* logo size */

nav img {
    max-width: 18.75rem;
}

/* nav links alignment */

.nav-links {
    flex: 1;
    text-align: right;

}

/* nav link remove bullit points and styling*/

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}

/* navlink colour and deecoration removal*/

.nav-links ul li a {
    color: black;
    text-decoration: none;

}

/* navlink hover settings */

.nav-links ul li::after {
    content: '';
    width: 0%;
    height: 2px;
    background: #11502B;
    display: block;
    margin: auto;
    transition: 0.5s;
}

/* navlink hover settings */

.nav-links ul li:hover::after {
    width: 100%;
}

/* media query to break at 700px */

@media (max-width: 700px) {
    .logo {
        margin-bottom: 10px;
    }
    nav {
        flex-direction: column;
    }
}




/*---- Home Page Main ----*/

/*flexbox container to split screen between text and image */

.flex-container {
    display: flex;
    flex-direction: column;
}

/*flexbox container to split screen between text and image */

.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

/*flexbox container to split screen between text and image */

.box h2 {
    font-size: 50px;
    margin-bottom: 30px;
    width: 80%;
}

.box p {
    width: 80%;
}


.box img {
    width: 100%;
    height: auto;
}

/* submit button to book lesson */

.book-lesson {
    display: inline-block;
    color: #fff;
    padding: 12px 34px;
    font-size: 1.1rem;
    background: #11502B;
    position: relative;
    cursor: pointer;
    border-radius: 5%;
    font-weight: 500;
    margin: 20px;
}

/* submit button to book lesson hover settings */

.book-lesson:hover {
    background: green;
    transition: 1s;
}

/* media query to break at 800px */

@media only screen and (min-width: 800px) {
    .flex-container {
        flex-direction: row;
    }

    .box {
        width: 50%;
        margin-bottom: 75px;
    }
}

/*--- Services --->*/

/* positioning of sevices imgs */

.services-col {
    float: left;
    width: 33.33%;
    padding: 40px;
    text-align: center;

}


.services::after {
    content: "";
    clear: both;
    display: table;

}

/* media query to break at 700px */

@media screen and (max-width: 700px) {
    .services-col {
        width: 100%;
        margin-top: 20px;
    }
}

/* Lessons Available */

/* container for lesson boxes*/

.training {
    width: 80%;
    text-align: center;
    padding: 10px;
    margin-left: 10%;
}

/* lining up of lesson boxes */

.row {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;


}

/*styling of lesson boxes*/

.training-col {
    flex-basis: 32%;
    border-radius: 10px;
    padding: 20px 12px;
    background: #939B84;
    justify-content: space-between;
    margin-bottom: 5%;
}

.training-col p {
    margin: 10%;
}

/* lesson boxes book now buttons*/

.training-btn {

    display: inline;
    color: #fff;
    padding: 10px 15px;
    font-size: 1.1rem;
    background: #11502B;
    position: relative;
    cursor: pointer;
    border-radius: 5%;
    font-weight: 500;
}

.training-btn:hover {
    background: green;
    transition: 1s;
}

/* ---- Video ----*/

/* rsa training video insert (youtube)*/

.video-col {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
    padding: 20px;
}

iframe {
    width: 500px;
    height: 300px;
       
    


}


/* media query to break at 700px */

@media (max-width: 700px) {
    .row {
        flex-direction: column;
    }

    .video-row {
        flex-direction: column;

    }
    iframe {
        width: 70%;
        min-height: 300px;
    }
}



/* Testimonials */

/* container for testimonials*/

.container {
    border: 2px solid #ccc;
    background-color: #eee;
    border-radius: 5px;
    padding: 16px;
    margin: 16px 0
}

/* Clearfix (clear floats) */

.container::after {
    content: "";
    clear: both;
    display: table;
}

/* testimonial images and styling*/

.container img {
    float: left;
    margin-right: 20px;
    border-radius: 50%;
}

/*testimonial text */

.container span {
    font-size: 20px;
    margin-right: 15px;
}



/* Gift Vouchers */

/* gift voucher container */

.gift-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 40px;
}

/* gift voucher request form split with image*/

.gift-box {
    max-width: 950px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.gift-left {
    background: url(../images/lplatecar.webp) no-repeat center;
    background-size: cover;
    height: 100%;
}

.gift-right {
    padding: 25px 40px;
}

.gift-right h3 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

.gift-right h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;

}

.gift-right select {
    margin-top: 30px;
}

.gift-field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.gift-field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

textarea {
    min-height: 150px;
}

/* gift voucher submit button */

.gift-btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #11502B;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.gift-btn:hover {
    background-color: green
}

.gift-field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}

/* media query to break at 880px */

@media screen and (max-width: 880px) {
    .gift-box {
        grid-template-columns: 1fr;
    }

    .gift-left {
        height: 400px;
    }
}

/* Contact */

/* contact form container*/

.contact-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
}

/* contact form split with image */

.contact-box {
    max-width: 950px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.contact-left {
    background: url("../images/roofsign.webp") no-repeat center;
    background-size: cover;
    height: 100%;
}

.contact-right {
    padding: 25px 40px;
}

.contact-right h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
}

.contact-right h2:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;

}

.contact-right select {
    margin-top: 30px;
}

.contact-field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}

.contact-field:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

/*contact form enquiry area*/

textarea {
    min-height: 150px;
}

/* contact form submit button */

.contact-btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #11502B;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .3s;
}

.contact-btn:hover {
    background-color: green;
}

.contact-field:focus {
    border: 2px solid rgba(30, 85, 250, 0.47);
    background-color: #fff;
}

/* media query to break at 880px */

@media screen and (max-width: 880px) {
    .contact-box {
        grid-template-columns: 1fr;
    }

    .contact-left {
        height: 200px;
    }
}

/*----- Footer ----->*/

/*footer height*/

footer {
    height: 10px;
    padding: 5px;
}

/* footer contact details */

.social-networks {
    text-align: center;
    background-color: #11502B;


}

.social-networks li {
    display: inline;

}

.social-networks a {
    color: white;
}

.social-networks i {
    font-size: 160%;
    margin: .10%;
    padding: .25%;
    color: black;
}

/* media query to break at 700px */

@media screen and (max-width: 700px) {
    .social-networks {
        width: 100%;
    }
    .social-networks li {
        display: flex;
        align-items: center;
    }

    .social-networks li i {
        padding-right: 10px;
    }
}

/* thank you */

.thanks {
    min-height: 66vh;
    display: flex;
    flex-direction: column;
}

/* Copyright */

.copy {
    text-align: center;
    background-color: #11502B;
    color: white;
}